<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>712470074041-ftaag2s9ld43695mer6sll64q32q8mi9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.712470074041-ftaag2s9ld43695mer6sll64q32q8mi9</string>
	<key>API_KEY</key>
	<string>AIzaSyDejUhnuQ04ibnVguAtpYNvHguXlI3CkI0</string>
	<key>GCM_SENDER_ID</key>
	<string>712470074041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.burita083.MoyaSample</string>
	<key>PROJECT_ID</key>
	<string>crashtest-5e7af</string>
	<key>STORAGE_BUCKET</key>
	<string>crashtest-5e7af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712470074041:ios:e78a1b7da4b9e238878168</string>
	<key>DATABASE_URL</key>
	<string>https://crashtest-5e7af.firebaseio.com</string>
</dict>
</plist>